h1 {
    text-align: center;
}


#filmsList li {
    cursor: pointer;
}

#actors {
    padding-left: 0px;
    padding-top: 20px;
    width: 34vw;
    margin-right: 0px;
}

#excerpt {
    text-align: left;
    float: left;
    width: 40vw;
    font-size: larger;
}

#actors li {
    color: white;
    white-space: nowrap;
    vertical-align: 60px;
    display: inline-flex;
    width: fit-content;
    background-color: rgb(10, 121, 196);
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 10px;
    margin-top: 2px;
    border-radius: 10px;
}

.container {
    padding: 10px;
    margin: 0 auto;
    background-color: lightgray;
    border-radius: 20px;
    width: 90vw;
    height: 600px;
}


.container > div {
    display: inline-flex;
}

.content {
    min-width: 940px;
    padding: 30px;
    width: 70vw;
}


.content img {
    height: 500px;
    width: auto;

    float: right;

}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    font-weight: bold;
    font-size: large;
    padding: 10px;
}

.selected {
    border-left: 2px solid rgb(10, 121, 196);
}

.sidebar {
    margin-top: 20px;
    border-right: 3px solid white;
    width: 15vw;
}
