h1 {
    text-align: center;
}

.search {
	display: flex;
	width: 100%;
}

.textfield {
    padding: 10px;
    color: green;
    font-size: 12px;
    display: flex;
    float: right;
    width: 100%;
}

.button {
    padding: 10px;
    display: flex;
    float: left;
    color: green;
    text-align: center;
    font-size: 12px;
}

.textfield:hover {
    color: red;
}

.button:hover {
    color: red;
}
