.box_form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
}

.body_reg {
    position: absolute;
    display: flex;
    flex-flow: column;
    padding: 10px;
    background: orange;
    top: 3%;
}

input {
    margin: 10px;
    background: white;
}

.success {
    color: 	green;
}

.fail {
    color: 	red;
}