.add {
    float: left;
    background-color: rgb(91, 156, 235);
    color: white;
}

.clear {
    float: right;
    background-color: rgb(240, 240, 240);
    color: black;
}

.container {
    margin: 0 auto;
    width: 50%;
}

.button {
    padding: 25px;
    cursor: pointer;
}

.button:nth-child(1) {
    margin-right: 10px;
}

input {
    width: 100%;
}

.input {
    margin-top: 40px;
    padding: 20px;
    background-color: rgb(240, 240, 240);

}

.history {
    padding: 20px;
    margin-top: 10px;
    background-color: rgb(240, 240, 240);
}
