.hand {
    width: 250px;
    height: 450px;
}

.man {
    width: 80px;
    height: 100px;
}

.hand:hover ~ .odd .man:nth-child(odd) {
    visibility: hidden;
}

.hand:hover ~ .even .man:nth-child(even) {
    visibility: hidden;
}