.container {
    margin: 0 auto;
    width: 50%;
}

.button {
    padding: 20px;
    cursor: pointer;
    background-color: rgb(91, 156, 235);
    border-radius: 5px;
}

.buttons_con {
    color: white;
    display: flex;
    justify-content: space-between;
}

input, textarea {
    width: 100%;
}

.input {
    padding: 20px;
    margin-top: 20px;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
}

.history {
    padding: 20px;
    margin-top: 20px;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
}