#textfield {
    padding: 10px;
    color: green;
    font-size: 12px;
}

#button {
    padding: 10px;
    color: green;
    text-align: center;
    font-size: 12px;
}

#textfield:hover {
    color: red;
}

#button:hover {
    color: red;
}
