.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  display: flex;
}

.prev, .next {
  cursor: pointer;
  
  position: absolute;
  box-sizing: border-box;
  padding: 20px;
  height: 590px;
  color: white;
  background-color: gray;
  font-weight: bold;
  font-size: 18px;
  user-select: none;
}

.next {
  right: 0;
}

